.main-section{
    display: flex;

    
}
.productos-section{
    display: flex;
    justify-content: center;
    margin-left: 100px;
  
}
.targeta div{
    display: flex;
    flex-direction: column;
    border: 2px solid #eff0f1;
    border-radius: 2%;
    width: 400px;
    margin-left: 15px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}
.targeta button{
    background-color:#2938f0;
    color: white;
    border-radius: 6%;
    border-collapse: collapse;
    font-size: 15px;
    height:35px;

}